body {
    font-family: 'Oxygen', sans-serif;
}

#buttoncontainer{
    background-color: aqua;
    padding: 10px;
    padding-left: 40px;
    margin-right: 0px;
}

#navcontainer{
    background-color: aqua;
    padding: 10px;
    padding-left: 40px;
    margin-right: 0px;
    overflow: auto;
}

#gifcontainer{
    margin: 20px;
    padding: 20px;
}

#giphylogo{
    margin-right: 40px;
    height: 150px;
    float: left;
}

button{
    margin: 5px;
    float: right;
    margin-top: 20px;
    border-radius: 0;
    
}

.item{
    float: left;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: grey;
}

.searchbox{
    height: fit-content;
}